<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       ">
    <mvc:annotation-driven/>
    <!-- 启用spring mvc 注解 -->
    <context:annotation-config/>
    <!-- 设置使用注解的类所在的jar包 -->
    <context:component-scan base-package="com.reportmanage.controller"></context:component-scan>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!--<mvc:default-servlet-handler />-->
    <!--<mvc:resources mapping="/themes/images/**" location="WEB-INF/themes/images" cache-period="31556926"/>-->
    <!--<mvc:resources mapping="/themes/js/**" location="WEB-INF/themes/js/" cache-period="31556926"/>-->
    <!--<mvc:resources mapping="/themes/css/**" location="WEB-INF/themes/css/" cache-period="31556926"/>-->
    <!--<mvc:resources mapping="/themes/img/**" location="WEB-INF/themes/img/" cache-period="31556926"/>-->
    <!--<mvc:resources mapping="/themes/fonts/**" location="WEB-INF/themes/fonts/" cache-period="31556926"/>-->
    <!--<mvc:resources mapping="/themes/plugins/**" location="WEB-INF/themes/plugins/" cache-period="31556926"/>-->
    <mvc:resources mapping="/themes/**" location="/WEB-INF/themes/" cache-period="31556926"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="10485760000"></property>
        <property name="maxInMemorySize" value="40960"></property>
    </bean>
</beans>